<div class="footer">
    <div class="float-right">
        <a href="#" target="_blank">Talep Takip Sistemi</a>

    </div>
    <div>
        <strong>Copyright</strong> Talep Takip Sistemi &copy;  @DateTime.Now.Year
    </div>
</div>