<div class="footer">
    <div class="float-right">
        <a href="/Home/Index">Talep Takip Sistemi</a>
    </div>
    <div>
        <strong>Copyright</strong> &copy;  @DateTime.Now.Year TurkishExporter Talep Takip Sistemi
    </div>
</div>