<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" width="50px" height="50px" src="~/assets/img/default.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@User.Identity.Name </span>
                        <span class="text-muted text-xs block">@(User?.FindFirst(p => p.Type == "Departmant")?.Value)<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="@Url.Action("Edit", "Users", new { Uuid = Context.Request.Cookies["Uuid"] })">Ayarlar</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/Login/Logout">Çıkış</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    TE
                </div>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="/Home"><i class="fa fa-home"></i> <span class="nav-label">Anasayfa</span></a>
                </li>
                <li>
                    <a href="/Requests/Index"><i class="fa fa-bars"></i> <span class="nav-label">Talepler</span></a>
                </li>
                <li>
                    <a href="/Processes/Index"><i class="fa fa-check-square"></i> <span class="nav-label">Onaylı Talepler</span></a>
                </li>
                <li>
                    <a href="/Requests/Create"><i class="fa fa-plus-square"></i> <span class="nav-label">Talep Ekle</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Kullanıcılar</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/Users/Create">Kullanıcı Ekle</a></li>
                        <li><a href="/Users">Kullanıcı Listesi</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Roles"><i class="fa fa-lock"></i> <span class="nav-label">Roller</span></a>
                </li>
                <li>
                    <a href="/Departments"><i class="fa fa-th-large"></i> <span class="nav-label">Departmanlar</span></a>
                </li>
            }
            else
            {
                <li>
                    <a href="/Home/UserDashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Anasayfa</span></a>
                </li>
                <li>
                    <a href="/Requests/Index"><i class="fa fa-bars"></i> <span class="nav-label">Talepler</span></a>
                </li>
                <li>
                    <a href="/Processes/Index"><i class="fa fa-check-square"></i> <span class="nav-label">Onaylı Talepler</span></a>
                </li>
                <li>
                    <a href="/Requests/Create"><i class="fa fa-plus-square"></i> <span class="nav-label">Talep Ekle</span></a>
                </li>
                
            }

        </ul>
    </div>
</nav>