@model KobiAsITS.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Talep Takip Sistemi";
    Layout = "";
}
@section css {
    <link href="~/pageCss/Login/ResetPassword.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/pageScripts/Login/ResetPassword.js"></script>
}
<!DOCTYPE html>
<html>

<none>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Talep Takip Sistemi Şifre Sıfırlama</title>
        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

        <link href="~/assets/css/animate.css" rel="stylesheet">
        <link href="~/assets/css/style.css" rel="stylesheet">
    </head>

    <body class="gray-bg">
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <div>
                    <h1 class="logo-name">TE</h1>
                </div>
                <h3>Talep Takip Sistemine Hoşgeldiniz!</h3>
                <p>
                    Şifre sıfırlamak için e-mail adresinizi giriniz.
                </p>
                <form class="m-t" asp-action="ResetPassword" asp-controller="Login" method="post">

                    <div class="form-group">
                        <input asp-for="Email" type="email" name="email" class="form-control" placeholder="E-mail" required="">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Şifremi Sıfırla</button>
                    </div>
                    

                    <a asp-action="Index" asp-controller="Login"><small>Giriş Yap</small></a>
                </form>
                @if (ViewBag.Error != null)
                {
                    <p class="text-muted text-center">
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            @ViewBag.Error
                        </div>
                    </p>
                }
                @if (ViewBag.Success != null)
                {
                    <p class="text-muted text-center">
                        <div class="alert alert-success alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            @ViewBag.Success
                        </div>
                    </p>
                }
                <p class="m-t"> <small>Talep Takip Yazılımı &copy; @DateTime.Now.Year</small> </p>
            </div>
        </div>
        <!-- Mainly scripts -->
        <script src="~/assets/js/jquery-3.1.1.min.js"></script>
        <script src="~/assets/js/popper.min.js"></script>
        <script src="~/assets/js/bootstrap.js"></script>
    </body>
    <none>
</html>